<%- include('../layouts/header.ejs') %>


<div id="confetti" class="order-placed-card"  class="rain" >
    <h2 class="order-placed-message">🎉Yay ! Your order has been placed.</h2>
    <p class="order-thank-you">Thank you for shopping with us!</p>
</div>


<style>
.order-placed-card {
    background-color: #b7db63;
    color: #333;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    animation: popUp 0.5s ease forwards;
    transform: scale(0);
    opacity: 0;
}

.order-placed-message {
    font-size: 24px;
    margin-bottom: 15px;
}

.order-thank-you {
    font-size: 18px;
}

@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


</style>




