<%- include('../layouts/header.ejs') %>

<div class="form-container">
    <style>
        .form-container {
            width: 100%;
            margin-top: 30px; /* Add margin to create space between header and form */
            margin-bottom: 20px;
        }

        .form-container form {
            width: 300px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-container label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        .form-container input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-container button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #4f545a;
            color: #fff;
        }

        .form-container button:hover {
            opacity: 0.9;
        }
    </style>

    <form action="/ressetPassword" method="post" id="formid">
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" placeholder="Enter new password" name="new">

        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" placeholder="Confirm new password" name="confirm">
        <span id="password-match-error" style="color: red; display: none;">Passwords do not match</span>
        <button type="submit" onclick="change(event,formid)" >Change Password</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
      const formid = document.getElementById('formid');

      function change(event, formid) {
    event.preventDefault();
    const newpass = formid.querySelector('#new-password').value;
    const confirmpass = formid.querySelector('#confirm-password').value;

    if (newpass !== confirmpass) {
        document.getElementById('password-match-error').innerText = 'Passwords do not match';
        document.getElementById('password-match-error').style.display = 'block';
        return; // Prevent form submission
    } else if (newpass.length < 8) {
        document.getElementById('password-match-error').innerText = 'Password must be at least 8 characters long';
        document.getElementById('password-match-error').style.display = 'block';
        return; // Prevent form submission
    } else if (/\s/.test(newpass)) {
        document.getElementById('password-match-error').innerText = 'Password should not contain spaces';
        document.getElementById('password-match-error').style.display = 'block';
        return; // Prevent form submission
    } else if (!/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(newpass)) {
        document.getElementById('password-match-error').innerText = 'Password should contain at least one special character';
        document.getElementById('password-match-error').style.display = 'block';
        return; // Prevent form submission
    } else {
        document.getElementById('password-match-error').style.display = 'none';
        // Proceed with form submission logic if all conditions pass
        formid.submit();
    }
}

    
document.getElementById('confirm-password').addEventListener('input', function() {
    const newpass = formid.querySelector('#new-password').value;
    const confirmpass = this.value;

    if (newpass !== confirmpass || newpass.length < 8 || /\s/.test(newpass) || !/^[a-zA-Z0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/.test(newpass)) {
        if (newpass.length < 8) {
            document.getElementById('password-match-error').innerText = 'Password must be at least 8 characters long';
        } else if (/\s/.test(newpass)) {
            document.getElementById('password-match-error').innerText = 'Password should not contain spaces';
        } else if (!/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(newpass)) {
            document.getElementById('password-match-error').innerText = 'Password should contain at least one special character';
        } else {
            document.getElementById('password-match-error').innerText = 'Passwords do not match';
        }
        document.getElementById('password-match-error').style.display = 'block';
    } else {
        document.getElementById('password-match-error').style.display = 'none';
    }
})
</script> 

<%- include('../layouts/footer.ejs') %>
