<%- include('../layouts/header.ejs') %>


<style>
    /* CSS styles */
    .form-container {
        width: 100%; 
        margin-top: 100px;
        margin-bottom: 60px; /* Ensure the container spans the entire width */
       
    }

    .form-container form {
        width: 300px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-container input[type="email"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-container button {
        width: calc(50% - 5px);
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Specific styling for the Reset Password button */
    .form-container button[type="submit"] {
        background-color: #6c757d;
        color: #fff;
    }

    /* Styling for the Back to Login button */
    .form-container button[type="button"] {
        background-color: #6c757d;
        color: #fff;
    }

    .form-container button:hover {
        opacity: 0.9;
    }

    .d-none {
        display: none;
    }
</style>
<div class="form-container" >
    <form action="/resetOtp" method="post" id="form">
        <input id="email" name="email" type="email" placeholder="Email" >
        <% if(typeof message !== 'undefined'){ %>
            <% if (message === 'Invalid email address') { %>
                <p style="color: red;"><%= message %></p>
            
            <% } %>
        <% } %>
        <p style="color: red;" id="error" class="d-none"></p>
        <button onclick="validate(event,form)" type="submit">Reset Password</button>
        &nbsp;&nbsp;
        <a href="login" type="button">Back to Login</a>
    </form>
   
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- <script>
      function validate(event, form) {
        // event.preventDefault();
        const email = form.querySelector('input[name="email"]').value;
        const err = document.getElementById('error');
        const inputField = document.getElementById('email');

        if (!email) {
            console.log("err");
            err.classList.remove('d-none');
            inputField.classList.add('border-danger');
            err.innerHTML = 'Invalid email.';
            return false;
        }
    }
     const inputField = document.getElementById('email');
    inputField.addEventListener('keydown', function() {
        const errorr = document.getElementById('error');
        errorr.classList.add('d-none');
        errorr.innerHTML = '';
        inputField.classList.remove('border-danger');
    });

  
</script> -->

<%- include('../layouts/footer.ejs') %>
